.Chart {
	width: 100%;
}

.Button {
	appearance: none;
	text-decoration: none;
	border: none;
	background: #c1d2ff;
	margin: 10px;
	height: 30px;
	color: #6a6f98;
	border-radius: 3px;
}

.Button:hover {
	background: #6a6f98;
	color: white;
	cursor: pointer;
}
