.ChartContainer {
	margin: 10px;
}
.Chart {
	width: 100%;
}

@media (min-width: 500px) {
	.Chart {
		width: 50%;
		display: inline-block;
	}
}

.Button {
	appearance: none;
	text-decoration: none;
	border: none;
	background: #c1d2ff;
	margin: 10px;
	height: 30px;
	padding: 0 10px;
	color: #6a6f98;
	border-radius: 3px;
}

.Button:hover {
	background: #6a6f98;
	color: white;
	cursor: pointer;
}
