.Card {
	height: 100px;
	width: 100vh;
	margin: 5px;
	border: 1px solid;
	border-color: #efefef;
	box-shadow: 2px 2px #efefef;
	border-radius: 5px;
}

.Title {
	color: #2c2c2c;
	padding-top: 10px;
	font-size: 15px;
	box-sizing: border-box;
	font-weight: 300;
}

.Count {
	font-size: 30px;
}
