.Logo {
	padding: 5px;
	height: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 30px;
}

.Logo img {
	height: 100%;
}

@media (max-width: 400px) {
	.Logo {
		font-size: 20px;
		margin-top: 8px;
	}
}
