.Cards {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Confirmed {
	background: #ffa5a5;
}

.Recovered {
	background: #a5ffb4;
}

.Deceased {
	background: #c5c5c5;
}

.Active {
	background: #a5ccff;
}

@media (min-width: 500px) {
	.Cards {
		padding: 0 20%;
	}
}
