.About {
	display: flex;
	flex-direction: column;
	min-height: 30rem;
	width: 70%;
	text-align: left;
	margin-left: 200px;
	margin-right: 200px;
	font-size: small;
}

.About .Question {
	color: #343a40;
	margin: 0 0 0.25rem;
}

.About .Answer {
	color: #007bff;
	line-height: 1.5rem;
}
