.NavigationItems {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	top: 0;
	left: 0;
	height: 100%;
}

@media (min-width: 500px) {
	.NavigationItems {
		height: 100vh;
		background-color: #ccc;
		padding: 200px 0;
	}
	.MobileOnly {
		display: none;
	}
}

@media (max-width: 500px) {
	.MobileOnly {
		color: black;
		font-weight: 600;
		margin-left: 20px;
		margin-bottom: 10px;
		font-size: 20px;
	}
}
